<section id="brands" class="py-3rem">
    <div class="container">
        <div class="row">
            <!-- in future i will use as for loop -->
            <div class="col-md-3" data-aos="zoom-in">
                <img height="70px" width="70px" src="../../../assets/images/bbb@2x.png" alt="">
            </div>
            <div class="col-md-3" data-aos="zoom-in">
                <img height="70px" width="70px" src="../../../assets/images/limo-bus@2x.png" alt="">
            </div>
            <div class="col-md-3" data-aos="zoom-in">
                <img height="70px" width="70px" src="../../../assets/images/nla@2x.png" alt="">
            </div>
            <div class="col-md-3" data-aos="zoom-in">
                <img height="70px" width="70px" src="../../../assets/images/pax@2x.png" alt="">
            </div>
        </div>
    </div>
</section>