<section id="brands" class="py-3rem">
    <div class="container">
        <div class="row">
            <!-- in future i will use as for loop -->
            <div class="col-md-3" data-aos="zoom-in">
                <img height="140px" width="140px" src="../../../assets/images/bbb-a+-rating.svg" alt="">
            </div>
            <div class="col-md-3" data-aos="zoom-in">
                <img height="140px" width="140px" src="../../../assets/images/limu&bus.svg" alt="">
            </div>
            <div class="col-md-3" data-aos="zoom-in">
                <img height="140px" width="140px" src="../../../assets/images/national-lamosin.svg" alt="">
            </div>
            <div class="col-md-3" data-aos="zoom-in">
                <img height="140px" width="140px" src="../../../assets/images/pax-anime.svg" alt="">
            </div>
        </div>
    </div>
</section>