<section id="hitRoad">
  <div class="container">
    <h1 class="py-3rem text-center">Hit The Road Confidentialy</h1>
    <div class="row">
      <div class="col-md-6 px-0 py-4" 
      data-aos="fade-right"
      data-aos-offset="300"
      data-aos-easing="ease-in-sine">
        <img
          _ngcontent-nef-c61=""
          src="../../../assets/images/content-image-1.jpg"
          height="100%"
          width="100%"
          alt=""
        />
      </div>
      <div class="col-md-4 bg-light my-4 px-0 borders position-relative" 
      data-aos="fade-left"
      data-aos-offset="300"
      data-aos-easing="ease-in-sine">
        <div class="content-box px-4">
          <h3 _ngcontent-nef-c61="">Easily Book, Change, <br>
              Or Cancel Rides.</h3>
          <p _ngcontent-nef-c61=""> 
            Rest easy with door-to-door pickup and dropoff — no change of
            transportation needed.
          </p>
          <a href="">
            Find More <i class="fa fa-arrow-right"></i
          ></a>
        </div>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-2"></div>
      <div class="col-md-4 my-4 bg-light px-0 borders position-relative">
        <div class="content-box px-4 text-right" 
        data-aos="fade-left"
        data-aos-offset="300"
        data-aos-easing="ease-in-sine">
          <h3 _ngcontent-nef-c61="">Easily Book, Change, <br>
              Or Cancel Rides.</h3>
          <p _ngcontent-nef-c61=""> 
            Rest easy with door-to-door pickup and dropoff — no change of
            transportation needed.
          </p>
          <a href="">
            <i class="fa fa-arrow-left"></i> Find More 
          </a>
        </div>
      </div>
      <div  class="col-md-6 py-4 px-0">
        <img
          _ngcontent-nef-c61=""
          src="../../../assets/images/content-image-2.jpg"
          height="100%"
          width="100%"
          alt=""
          data-aos="fade-left"
          data-aos-offset="300"
          data-aos-easing="ease-in-sine"
        />
      </div>
    </div>
  </div>
</section>