<section id="slider-area" class="d-flex align-items-center">
  <div id="hero" class="w-100 m-auto">
    <div class="container text-center py-3rem">
    <div data-aos="fade-up" data-aos-duration="3000" class="card blur-bg tinted offset-md-1">
      <div class="card-body">
        <div class="head-area py-4">
          <h3>Your driver is</h3>
          <h1>One Click Away</h1>
        </div>
        <form>
          <div class="row">
            <div class="col-12">
              <div class="form-group position-relative">
                <label for="exampleInputEmail1">
                  <img src="../../../assets/icons/map-pin.svg" alt="">
                  From
                </label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Location">
                <img src="../../../assets/icons/location.svg" class="location-icon" height="25px" width="25px" alt="" srcset="">
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label for="exampleInputPassword1">
                  <img src="../../../assets/icons/map-pin.svg" alt="">To
                </label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter Location">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="exampleInputDate1">
                  <img src="../../../assets/icons/date.svg" alt="">Date
                </label>
                <input type="text" class="form-control" id="exampleInputPassword1">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="exampleInputPassword1">
                  <img src="../../../assets/icons/time.svg" alt="">Time
                </label>
                <input type="text" class="form-control" id="exampleInputPassword1">
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary w-100">Book Now</button>
        </form>
      </div>
    </div>
    </div>
  </div>
</section>