<section id="bookCar" class="py-3rem">
  <h2 class="text-center">ON TIME EVERY TIME</h2>
  <div class="container py-3rem">
    <div class="row text-center justify-content-center">
      <div class="col-md-4">
        <div class="icon-box" data-aos="zoom-in">
            <img src="../../../assets/icons/asap-ryde.svg" alt="" srcset="">
        </div>
        <h3>ASAP Ryde</h3>
        <article>
          forgot to schedule your car ahead,
          With “ASAP” you can book your car
          upon arrival.
        </article>
      </div>
      <div class="col-md-4">
        <div class="icon-box" data-aos="zoom-in">
            <img src="../../../assets/icons/asap-ryde.svg" alt="" srcset="">
        </div>
        <h3>Instant Qoute!</h3>
        <article>
          Our best-in-class platform allows 
          You to easily book and update your ride
          Up to 1 hour before pickup.
        </article>
      </div>
      <div class="col-md-4">
        <div class="icon-box" data-aos="zoom-in">
            <img src="../../../assets/icons/asap-ryde.svg" alt="" srcset="">
        </div>
        <h3>Flexibility</h3>
        <article>
          Change, cancel free of charge 
          Up until 1 hour prior to pickup.
        </article>
      </div>
    </div>
  </div>
  <div class="text-center">
    <button class="btn btn-primary h3 w-25 py-3">
      Book The Perfect Car  
    </button>
  </div>
</section>