<section
  id="sub-header"
  class="blur-bg tinted"
  [style.margin-top]="headerHeight + 'px'"
>
  <div class="container">
    <div
      _ngcontent-tcf-c16=""
      class="d-flex justify-content-center align-items-center"
    >
      <div _ngcontent-tcf-c16="" class="icons">
        <img
          src="../../../../assets/icons/point-to-point.svg"
          alt=""
          width="120px"
          _ngcontent-tcf-c1=""
          class="py-3"
        />
        <p _ngcontent-tcf-c16="">Point to Point</p>
      </div>
      <div _ngcontent-tcf-c16="" class="icons">
        <img
          _ngcontent-tcf-c16=""
          src="../../../../assets/icons/hourly-service.svg"
          alt=""
        />
        <p _ngcontent-tcf-c16="">Hourly Service</p>
      </div>
      <div _ngcontent-tcf-c16="" class="icons">
        <img
          src="../../../../assets/icons/city-to-city.svg"
          alt=""
          style="/* padding: 1rem 0rem; */"
          class="py-0"
        />
        <p _ngcontent-tcf-c16="">City to City</p>
      </div>
      <div _ngcontent-tcf-c16="" class="icons">
        <img
          _ngcontent-tcf-c16=""
          src="../../../../assets/icons/airport-transportation.svg"
          alt=""
        />
        <p _ngcontent-tcf-c16="">Airport Transportation</p>
      </div>
      <div _ngcontent-tcf-c16="" class="icons">
        <img
          src="../../../../assets/icons/group-event.svg"
          alt=""
          srcset=""
          class="py-2"
        />
        <p _ngcontent-tcf-c16="">Group &amp; Event Transportation</p>
      </div>
    </div>
  </div>
</section>
