.content{
    background:url('../../../assets/images/backgrounds/partner-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    color: white;
    display: flex;
    align-items: center;
    border-radius: 35px;
}
.container{
    line-height: 5rem;
}
.container-fluid{
    padding: 0rem 3rem;
}