<section id="about" class="py-3rem">
    <div class="container text-left">
        <div class="row align-items-center">
            <div class="col-md-6" 
            data-aos="fade-right"
            data-aos-offset="300"
            data-aos-easing="ease-in-sine">
                <img src="../../../assets/images/mobile.svg" width="100%" height="auto">
            </div>
            <div class="col-md-6 pt-4" 
            data-aos="fade-left"
            data-aos-offset="300"
            data-aos-easing="ease-in-sine">
                <div class="d-flex flex-column" style="line-height: 2rem;">
                    <h3>Download now for great experience</h3>
                    <h1>Easily Book, Change,
                        Or Cancel Rides On The Go.</h1>
                        <small>Rest easy with door-to-door pickup and dropoff — no change of
                            transportation needed.</small>
                </div>
                <div class="buttons-area">
                    <a><img src="../../../assets/icons/app-store@2x.png" alt=""></a>
                    <a><img src="../../../assets/icons/google-play@2x.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>