section{
    .container{
        background-image: url('../../../assets/images/backgrounds/download-bg.svg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
}
.buttons-area{
    display: flex;
    padding: 1.5rem 0rem;
    img{
        width: 160px;
        height: auto;
    }
    a{
        padding-right: .5rem;
    }
}