<section id="footer" class="py-3rem pb-0">
  <div class="jumbotron bg-dark">
    <div class="container text-left">
      <div class="d-flex justify-content-between">
        <div class="brand">
          <a class="navbar-brand" href="#">
            <img
              height="auto"
              width="200px"
              src="../../../../assets/icons/footer-logo.svg"
              alt=""
              srcset=""
            />
          </a>
        </div>
        <div class="download-buttons">
          <div class="buttons-area">
            <a><img src="../../../assets/icons/f-app-store.svg" alt=""></a>
            <a><img src="../../../assets/icons/f-google-play.svg" alt=""></a>
        </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-3">
          <h3>Company</h3>
          <ul>
            <li>About</li>
            <li>Career</li>
            <li>Press</li>
            <li>Blog</li>
            <li>Services</li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3>Resource</h3>
          <ul>
            <li>Download</li>
            <li>Helo Center</li>
            <li>Guides</li>
            <li>Partner</li>
            <li>Developers</li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3>Locations</h3>
          <ul>
            <li>Usa(En)</li>
            <li>Canada(En)</li>
            <li>Canada(Fr)</li>
            <li>Uk</li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3>Blogs</h3>
          <div class="card">
            <div class="card-body p-0">
              <img
                src="../../../assets/images/footer-img.jpg"
                height="auto"
                width="100%"
                alt=""
              />
            </div>
            <div class="card-footer bg-white">
              <h6>Community</h6>
              <p class="font-weight-bold">What To Expect From A Professional Chauffeur</p>
              <small>December 2, 2020</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>