<section id="brands" class="py-2">
    <div class="container">
        <div class="row">
            <!-- in future i will use as for loop -->
            <div class="col-20">
                <img height="94px" width="auto" src="../../../assets/images/hospitality.svg" alt="">
            </div>
            <div class="col-20">
                <img height="94px" width="auto" src="../../../assets/images/maple&ash.svg" alt="">
            </div>
            <div class="col-20">
                <img height="94px" width="100%" src="../../../assets/images/atl&ntic.svg" alt="">
            </div>
            <div class="col-20">
                <img height="94px" width="auto" src="../../../assets/images/waldorf.svg" alt="">
            </div>
            <div class="col-20">
                <img height="94px" width="auto" src="../../../assets/images/signature.svg" alt="">
            </div>
        </div>
    </div>
</section>